.mx-context-menu.matcha-theme {
  --mx-menu-placeholder-width: 1.75rem;

  /* Backgroud */
  --mx-menu-backgroud: hsla(0deg 0% 99%);
  --mx-menu-hover-backgroud: hsl(206deg 96% 62%);
  --mx-menu-active-backgroud: hsl(206deg 96% 62%);
  --mx-menu-open-backgroud: hsl(0deg 0% 52%);
  --mx-menu-open-hover-backgroud: hsl(206deg 96% 62%);
  --mx-menu-divider: hsl(0deg 0% 82%);

  /* Text */
  --mx-menu-text: hsl(215deg 14% 34%);
  --mx-menu-hover-text: hsl(0deg 0% 100%);
  --mx-menu-active-text: hsl(0deg 0% 100%);
  --mx-menu-open-text: hsl(0deg 0% 100%);
  --mx-menu-open-hover-text: hsl(0deg 0% 100%);
  --mx-menu-disabled-text: hsl(0deg 0% 73%);

  /* Shadow */
  --mx-menu-shadow-color: rgb(0 0 0 / 10%);
  --mx-menu-backgroud-radius: 10px;

  /* Shortcut badge */
  --mx-menu-shortcut-backgroud: transparent;
  --mx-menu-shortcut-backgroud-hover:transparent;
  --mx-menu-shortcut-backgroud-active:transparent;
  --mx-menu-shortcut-backgroud-open:transparent;
  --mx-menu-shortcut-backgroud-disabled:transparent;
  --mx-menu-shortcut-text: hsl(0deg 0% 26%);
  --mx-menu-shortcut-text-hover: hsl(0deg 0% 100%);
  --mx-menu-shortcut-text-active: hsl(0deg 0% 100%);
  --mx-menu-shortcut-text-open: hsl(0deg 0% 100%);
  --mx-menu-shortcut-text-disabled: hsl(0deg 0% 65%);

  /* Focus border color */
  --mx-menu-focus-color: transparent;
  --mx-menu-border-color: hsl(0deg 0% 73%);

  .dark & {
    /* Backgroud */
    --mx-menu-backgroud: hsl(0deg 0% 20%);
    --mx-menu-hover-backgroud: hsl(216deg 99% 41%);
    --mx-menu-active-backgroud: hsl(216deg 99% 41%);
    --mx-menu-open-hover-backgroud: hsl(216deg 99% 41%);
    --mx-menu-open-backgroud: hsl(216deg 4% 26%);
    --mx-menu-divider: hsl(0deg 0% 34%);

    /* Text */
    --mx-menu-text: hsl(0deg 0% 86%);
    --mx-menu-hover-text: hsl(0deg 0% 100%);
    --mx-menu-active-text: hsl(0deg 0% 100%);
    --mx-menu-open-text: hsl(0deg 0% 100%);
    --mx-menu-open-hover-text: hsl(0deg 0% 100%);
    --mx-menu-disabled-text: hsl(0deg 0% 42%);

    /* Shadow */
    --mx-menu-shadow-color: rgb(0 0 0 / 10%);
    --mx-menu-backgroud-radius: 10px;

    /* Shortcut badge */
    --mx-menu-shortcut-backgroud: transparent;
    --mx-menu-shortcut-backgroud-hover:transparent;
    --mx-menu-shortcut-backgroud-active:transparent;
    --mx-menu-shortcut-backgroud-open:transparent;
    --mx-menu-shortcut-backgroud-disabled:transparent;
    --mx-menu-shortcut-text: hsl(0deg 0% 85%);
    --mx-menu-shortcut-text-hover: hsl(0deg 0% 100%);
    --mx-menu-shortcut-text-active: hsl(0deg 0% 100%);
    --mx-menu-shortcut-text-open: hsl(0deg 0% 100%);
    --mx-menu-shortcut-text-disabled: hsl(0deg 0% 42%);

    /* Focus border color */
    --mx-menu-focus-color: transparent;
  }

  @apply min-w-40 py-2;
  box-shadow: 0 5px 7px 1px var(--mx-menu-shadow-color);

  .mx-context-menu-item {
    @apply px-2 py-1 mx-2 rounded-md;

    /* Focus by keyboard */
    &.keyboard-focus {
      @apply outline-none;
      color: var(--mx-menu-active-text);
      background-color: var(--mx-menu-active-backgroud);

      .mx-right-arrow, .mx-checked-mark {
        fill: var(--mx-menu-active-text);
      }

      .mx-shortcut {
        color: var(--mx-menu-shortcut-text-active);
        background-color: var(--mx-menu-shortcut-backgroud-active);
      }
    }

    &:not(:hover) .mx-icon-placeholder {
      color: var(--mx-menu-hover-backgroud);
    }
  }

  .mx-context-menu-item-sperator {
    @apply mx-3;
  }
}
